---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring 

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-prometheus-service
  namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keptn-create-get-monitoring-namespace
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - update
    resourceNames:
      - "monitoring"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keptn-create-prom-clusterrole
rules:
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - clusterroles
      - clusterrolebindings
    verbs:
      - get
      - create
      - update
    resourceNames:
      - "prometheus"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keptn-prom-prometheus
rules:
  - apiGroups:
      - ""
    resources:
      - endpoints
      - nodes
      - nodes/proxy
      - pods
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "extensions"
    resources:
      - "ingresses"
    verbs:
      - get
      - list
      - watch
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-prometheus-service
  namespace: monitoring
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - configmaps
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - create
      - update
      - delete
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - create
      - update
      - get 

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: keptn-prometheus-service-get-monitoring-ns
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole 
  name: keptn-create-get-monitoring-namespace
subjects:
  - kind: ServiceAccount
    name: keptn-prometheus-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: keptn-create-prom-clusterrole
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: keptn-create-prom-clusterrole
subjects:
  - kind: ServiceAccount
    name: keptn-prometheus-service
    namespace: keptn
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: keptn-prom-prometheus
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: keptn-prom-prometheus
subjects:
  - kind: ServiceAccount
    name: keptn-prometheus-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-prometheus-service
  namespace: monitoring 
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-prometheus-service 
subjects:
  - kind: ServiceAccount
    name: keptn-prometheus-service
    namespace: keptn

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-keptndomain-prom-service
  namespace: keptn
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-read-keptndomain
subjects:
  - kind: ServiceAccount
    name: keptn-prometheus-service
    namespace: keptn


---    
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: prometheus-service
  replicas: 1
  template:
    metadata:
      labels:
        run: prometheus-service
    spec:
      containers:
      - name: prometheus-service
        image: keptn/prometheus-service:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        env:
        - name: CONFIGURATION_SERVICE
          value: 'http://configuration-service:8080'
        - name: EVENTBROKER
          value: 'http://event-broker/keptn'
        - name: API
          value: 'ws://api-service:8080/websocket'
      serviceAccountName: keptn-prometheus-service
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: keptn
  labels:
    run: prometheus-service
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    run: prometheus-service
---
## prometheus-service sh.keptn.event.monitoring-configure-distributor
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-service-monitoring-configure-distributor
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: distributor
  replicas: 1
  template:
    metadata:
      labels:
        run: distributor
    spec:
      containers:
      - name: distributor
        image: keptn/distributor:0.6.2
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        env:
        - name: PUBSUB_URL
          value: 'nats://keptn-nats-cluster'
        - name: PUBSUB_TOPIC
          value: 'sh.keptn.event.monitoring.configure'
        - name: PUBSUB_RECIPIENT
          value: 'prometheus-service'
      serviceAccountName: keptn-default
